
section.home-page {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.personal-div {
    position: relative;
    background-color: #282c34;
    color: white;
    text-align: center;
    height: 90vh;
  }
  
  .personal-div h1 {
    font-size: calc(20px + 5vmin);
    animation: 1s ease-out 0s 1 slideInFromTop;
  }

.personal-div p {
  font-size: calc(10px + 2vmin);
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

  .cartoon-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 35vh;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
     -ms-animation: fadein 0.5s; /* Internet Explorer */
      -o-animation: fadein 0.5s; /* Opera < 12.1 */
         animation: fadein 0.5s;
  }
  
@media(max-width:450px) {
  .cartoon-img {
    height: 20vh !important;
  }
}
