@import "../../App.scss";

section.home-page {
    @include common-page-attr;
    flex-direction: column;
    overflow: hidden;

    .personal-div {
        position: relative;
        color: white;
        text-align: center;
        height: 90vh;
        padding: 0px 20px;

        h1 {
            font-size: calc(20px + 5vmin);
            animation: 1s ease-out 0s 1 fadeInDown;
        }

        p {
            font-size: calc(10px + 2vmin);
            animation: fadeIn 2s;
        }
    }

    .cartoon-img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        height: 35vh;
        animation: fadeIn 1s;
    }

    .smedia {
        display: flex;
        flex-direction: row;
        justify-content: center;

        svg {
            height: 70px;
            margin: 10px;
            opacity: 0.5;
            cursor: pointer;

            &:hover {
                opacity: 1;
                animation: rubberBand;
                animation-duration: 0.5s;
            }
        }
    }
}

.smedia.animated-displayin {
    animation: flipInX;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@include mobile {
    .cartoon-img {
        height: 20vh !important;
    }

    section.home-page {
        .smedia {
            svg {
                height: 40px;
            }
        }
    }
}
