.App {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}

.App-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1041;
}

.header-box-1 {
  flex: 1;
  padding-left: 50px;
}

.header-box-2 {
  flex: 1;
  position: absolute;
  right: 50px;
}

.header-box-1 img {
  height: 6vh;
  opacity: 0.9;
}

a .header-btn {
  font-family: 'Lato', sans-serif;
  background: transparent;
  border: 0px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  margin: 2vmin;
  border-bottom: 2px solid transparent;
}

a .header-btn:hover,
a .header-btn:active {
  color: skyblue;
  border-bottom: 2px solid skyblue;
}

a .header-btn:focus, a .btn-selected {
  color: skyblue;
}

a button:focus {
  outline:0;
}

.smedia img {
  height: 8vh;
  margin: 5px;
  opacity: .5;
  cursor: pointer;
}

.smedia img:hover {
  opacity: 1;
}

.skill-box {
  width: 80vw;
  text-align: center;
}

@media(max-width:450px) {
  .header-box-1 {
    padding-left: 30px;
  }

  .header-box-2 {
    right: 30px;
  }

  .header-box-2 button {
    font-size: 15px;
  }

  .header-box-1 img {
    height: 4vh;
  }
}
